<% content_for(:title, "About Us | Task Manager") %>

<div class="container mt-5">
  
  <div class="text-center">
    <h1>About Us</h1>
  </div>

  <div class="row mt-4 justify-content-center">
    <div class="col-md-6 text-center">
      <img class="img-fluid rounded" loading="lazy" src="https://abhishekkamble.s3.ap-south-1.amazonaws.com/portfolio-images/about-image.png" alt="">
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Our Vision</h2>
      <p>Our vision is to empower individuals and teams to accomplish more by providing them with a powerful task management solution. We believe that by organizing tasks and setting priorities, individuals can focus on what matters most and achieve their goals.</p>
    </div>
    <div class="col-md-6">
      <h2>Our Team</h2>
      <p>We're a passionate team of developers and designers committed to creating the best possible experience for our users. With expertise in software development, user experience design, and project management, we work together to continuously improve our app and deliver new features that meet the needs of our users.</p>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col-md-6">
      <h2>Features</h2>
      <ul>
        <li>Intuitive task management: Easily create, edit, and organize your tasks with our user-friendly interface.</li>
        <li>Priority settings: Set priorities for your tasks to ensure you focus on what's most important.</li>
        <li>Deadline tracking: Keep track of deadlines and due dates to stay on top of your tasks.</li>
        <li>Customization: Tailor the app to your workflow with customizable task lists and categories.</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Get in Touch</h2>
      <p>We'd love to hear from you! Whether you have feedback, questions, or feature requests, please don't hesitate to reach out to us. You can contact us via email at <a href="mailto:abhishekkamble@csod.com">abhishekkamble@csod.com</a> or connect with us on social media.</p>
    </div>
  </div>
</div>
